openapi: 3.1.0
info:
  title: AKUL DRAVIN HRMS & ERP PLATFORM v39 API
  version: 39.0.0
  description: Enterprise multi-tenant API contract skeleton.
servers:
  - url: https://api.akuldraavin.com/api/v1
security:
  - bearerAuth: []
tags:
  - name: Auth
  - name: IAM
  - name: Tenant
  - name: HRMS
  - name: ERP
  - name: Recruitment
  - name: Marketplace
  - name: Billing
  - name: Analytics
  - name: AI
  - name: Metaverse
paths:
  /auth/login:
    post:
      tags: [Auth]
      summary: Authenticate user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string, format: email }
                password: { type: string }
      responses:
        '200':
          description: Authenticated
  /companies:
    get:
      tags: [HRMS]
      summary: List companies
      responses:
        '200': { description: OK }
    post:
      tags: [HRMS]
      summary: Create company
      responses:
        '201': { description: Created }
  /employees:
    get:
      tags: [HRMS]
      summary: List employees
      responses:
        '200': { description: OK }
    post:
      tags: [HRMS]
      summary: Create employee
      responses:
        '201': { description: Created }
  /payroll/runs:
    post:
      tags: [HRMS]
      summary: Execute payroll run
      responses:
        '202': { description: Accepted }
  /finance/journals:
    post:
      tags: [ERP]
      summary: Create journal entry
      responses:
        '201': { description: Created }
  /recruitment/jobs:
    get:
      tags: [Recruitment]
      summary: List jobs
      responses:
        '200': { description: OK }
    post:
      tags: [Recruitment]
      summary: Create recruitment job
      responses:
        '201': { description: Created }
  /job-marketplace/search:
    get:
      tags: [Marketplace]
      summary: Search marketplace jobs
      responses:
        '200': { description: OK }
  /billing/subscriptions:
    get:
      tags: [Billing]
      summary: List subscriptions
      responses:
        '200': { description: OK }
    post:
      tags: [Billing]
      summary: Create subscription
      responses:
        '201': { description: Created }
  /analytics/events:
    post:
      tags: [Analytics]
      summary: Ingest analytics event
      responses:
        '202': { description: Accepted }
  /ai/matching/score:
    post:
      tags: [AI]
      summary: Candidate-job match scoring
      responses:
        '200': { description: OK }
  /metaverse/presence:
    post:
      tags: [Metaverse]
      summary: Update virtual presence
      responses:
        '202': { description: Accepted }
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
